body {
    background-color: #f5f5f5;
    font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.action-button {
    background-color: gray !important;
          color: white !important;
          border-radius: 18px !important;
}